body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;

  overflow: hidden;
}

#container {
  cursor: crosshair;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

#frame {  
  background-color: rgba(0, 0, 0, 0.3);
  outline: dashed red;
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  position: absolute;
}

button {
  background-color: lightcyan;
  border-radius: 10px;
  border-color: gray;
  border-style: solid;
  height: 100px;
  font-size: large;
  margin: 5px;
}

.red-btn {
  background-color: crimson;
  color: white;
}
